# Backend (NestJS)
BACKEND_PORT=3001
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ultima_milla
DB_USER=postgres
DB_PASSWORD=postgres

# Kafka
KAFKA_BROKER=localhost:9092

# Redis
REDIS_URL=redis://localhost:6379
